{% extends 'VVSSecurityBundle::base.html.twig' %}
{% block page_title  %} {{ user.username }}{% endblock  %}
{% block body -%}
   
<div class="row">
    <div class=col-lg-6>
    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Имя пользователя</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Пароль</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Активность</th>
                <td>{{ user.isActive }}</td>
            </tr>
            <tr>
                <th>Роль</th>
                <td>{{ user.role}}</td>
            </tr>
        </tbody>
    </table>
        <a class="btn btn-default" href="{{ path('user_index') }}">
            Назад к списку польвователей
        </a>
        <a href="{{ path('user_edit', { 'id': user.id }) }}">
            Изменить
        </a>
    {{ form(delete_form) }}    </div>
</div>

{% endblock %}
